---
permalink: "{{ page.fileSlug }}.html"
---
<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
<% if ( locals.prerender ) { %>
<%- pfi.kimTopMenu(page.inputPath.substring(1)) %>
<% } else { %>
<script> document.write(kimTopMenu(<%- '"' + page.inputPath.substring(1) + '"' %>)); </script>
<% } %>
<div class="container">
<%- content %>
</div>
<% if ( locals.prerender ) { %>
<%- pfi.kimBotMenu(page.inputPath.substring(1)) %>
<%- pfi.scriptSrcs() %>
<% } else { %>
<script> document.write(kimBotMenu(<%- '"' + page.inputPath.substring(1) + '"' %>)); </script>
<script> document.write(scriptSrcs()); </script>
<% } %>
</body>
</html>
