---
permalink: "<%- page.inputPath.substring(1) %>"
---
<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/head %>
<script type="text/javascript" src="/js/pfioldprod200510.js"></script>
</head>
<body>
<script>pfiavG.pageIdx = createPageIndex(<%- "'" + page.inputPath.substring(1) + "'" %>);</script>
<% if ( locals.prerender ) { %>
<%- pfi.getShopHeader() %>
<%- pfi.pfiTopMenu(page.inputPath.substring(1)) %>
<% } else { %>
<script> document.write(getShopHeader()); </script>
<script> document.write(pfiTopMenu(<%- '"' + page.inputPath.substring(1) + '"' %>)); </script>
<% } %>
<div class="container">
<% if ( locals.prerender ) { %>
<%- pfi.getShopTop() %>
<% } else { %>
<script> document.write(getShopTop()); </script>
<% } %>
<%- content %>
</div>
<script> document.write(pfiavG.pageIdx.createFeatures()); </script>
<% if ( locals.prerender ) { %>
<%- pfi.botMenu(page.inputPath.substring(1)) %>
<%- pfi.scriptSrcs() %>
<% } else { %>
<script> document.write(botMenu(<%- '"' + page.inputPath.substring(1) + '"' %>)); </script>
<script> document.write(scriptSrcs()); </script>
<% } %>
</body>
</html>
