---
permalink: "{{ page.fileSlug }}.html"
---
<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/head %>
</head>
<body>
<% if ( locals.prerender ) { %>
<%- pfi.pfiTopMenu(page.inputPath.substring(1) %>
<% } else { %>
<script> document.write(pfiTopMenu(<%- '"' + page.inputPath.substring(1) + '"' %>)); </script>
<% } %>
<div class="container">
<%- content %>
</div>
<% if ( locals.prerender ) { %>
<%- pfi.botMenu(page.inputPath.substring(1)) %>
<%- pfi.scriptSrcs() %>
<% } else { %>
<script> document.write(botMenu(<%- '"' + page.inputPath.substring(1) + '"' %>)); </script>
<script> document.write(scriptSrcs()); </script>
<% } %>
</body>
</html>
