<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta http-equiv="cache-control" content="no-cache" />
<% if ( locals.description ) { %>
<meta name="description" content="<%- description %>" />
<% } %>
<% if ( locals.keywords ) { %>
<meta name="keywords" content="<%- keywords + " , " + config.siteKeywords %>" />
<% } else { %>
<meta name="keywords" content="<%- config.siteKeywords %>" />
<% } %>
<title>
    <%- title %>
</title>

<link rel="stylesheet" href="/shopper-1.0.4/fonts/feather/feather.css">
<link href="/shopper-1.0.4/css/theme.min.css" rel="stylesheet" />
<link href="/js/pfi20082001.css" rel="stylesheet"/>

<script type="text/javascript" src="/js/pfiglobs20120223.js"></script>
<script type="text/javascript" src="/js/pfitmpl20122800.js"></script>
<script type="text/javascript" src="/js/pficat20122107.js"></script>
<script type="text/javascript" src="/js/pfimch20122114.js"></script>
<script type="text/javascript" src="/nc/pfifx20.js"></script>
<script type="text/javascript" src="/js/pfishop20122800.js"></script>
<script type="text/javascript" src="/js/pfiprod20122108.js"></script>
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
<% if ( config.isProduction && config.isGA ) { %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%- config.gaCode %>"></script>
<% } %>
<% if ( config.isProduction) { %>
    <% var funnel = (locals.funnel ? locals.funnel : "PageView") %>
    <% if ( config.isGA ) { %>
        <%- pfi.gaInit(config.gaCode, pfi.gaFunnel(funnel)) %>
    <% } %>
    <% if ( config.isFB ) { %>
        <%- pfi.fbInit(config.fbCode, pfi.fbFunnel(funnel)) %>
    <% } %>
<% } %>
